<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="suredata1.Properties.Settings.empConnectionString"
            connectionString="Data Source=CLASSROOM2;Initial Catalog=emp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      <add name="x" connectionString="xa00"/>
    </connectionStrings>
</configuration>