<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataSample.Properties.Settings.adoConnectionString"
            connectionString="Data Source=SSIMAIN\NetSDK;Initial Catalog=ado;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DataSample.Properties.Settings.samplefornetConnectionString"
            connectionString="Data Source=(local);Initial Catalog=samplefornet;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DataSample.Properties.Settings.democlassConnectionString"
            connectionString="Data Source=(local);Initial Catalog=democlass;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DataSample.Properties.Settings.aspsampleConnectionString"
            connectionString="Data Source=SIVAJI;Initial Catalog=aspsample;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="myconnstr" connectionString="Data Source=SIVAJI;Initial Catalog=classdemo;User ID=sa" />
        <add name="DataSample.Properties.Settings.sampleConnectionString"
            connectionString="Data Source=SERVER;Initial Catalog=sample;Persist Security Info=True;User ID=sa;Password=Server123"
            providerName="System.Data.SqlClient" />
        <add name="DataSample.Properties.Settings.ConnectionString" connectionString="Data Source=dbmain_sivaji;User ID=scott;Password=tiger;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>