<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; height: 100%">
            <tr>
                <td colspan="2" style="height: 7px">
                    <asp:Image ID="Image1" runat="server" ImageUrl="~/banner1.gif" /><br />
                    <br />
                    My Web Site</td>
            </tr>
            <tr>
                <td style="width: 200px; height: 279px">
                    <a href="inbox.aspx">Inbox</a><br />
                    <br />
                    <a href="draft.aspx">Drafts<br />
                    </a>
                    <br />
                    <a href="trash.aspx">Trash</a><br />
                    <br />
                    <a href="compose.aspx">Compose</a></td>
                <td style="height: 279px">
        <asp:contentplaceholder id="ContentPlaceHolder1" runat="server">
        </asp:contentplaceholder>
                </td>
            </tr>
        </table>
        <br />
        <br />
        <br />
        &nbsp;</div>
    </form>
</body>
</html>
