<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="suredata.Properties.Settings.ssidb1ConnectionString"
            connectionString="Data Source=SERVER;Initial Catalog=ssidb1;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>